.layout-2{
    display: none;
    background: #FFFFFF;
    box-shadow: 10px 10px 60px #E2E7FF;
    border-radius: 0px 50px 50px 50px;
    height: 535px;
    width: 432px;
}

.layout-2-info{
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-top: 0px;

}

.layout-2-subscribe{
    font-family: GilroyBold;
    color: #1C154E;
    font-size: 18px;
    margin-top: 20px;
}

.layout-2-information{
    font-size: 16px;
    font-family: GilroyLight;
    color: #1C154E;
    opacity: 0.8;
    margin: 0px;
    margin-top: 0px;
    font-weight: bold;
}

.layout-2-form{
    display: flex;
    flex-direction: column;
    border: 1.5px solid #E1E3EE;
    border-radius: 15px;
    margin-top: 15px;
}

.container {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row;
    border-bottom: 1.5px solid #E1E3EE;
  }

.container-div{
    display: flex;
    margin: 10px;
}

  .container:hover{
      background-color: rgba(244, 245, 250, 1);
      
  }
  
.container:nth-child(1):hover{
    background-color: rgba(244, 245, 250, 1);
    border-radius: 15px 15px 0px 0px;
}

.container:nth-child(5):hover{
    background-color: rgba(244, 245, 250, 1);
      border-radius: 0px 0px 15px 15px;
}

.container:nth-child(5){

}

  .container input {
    opacity: 0;
    cursor: pointer;
  } 
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1.5px solid #E1E3EE;
    margin-top: 13px;
    margin-left: 10px;
  }
  
  


  .container:hover input ~ .checkmark {
    
  }
  
  .container input:checked ~ .checkmark {
    background-color: transparent;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
       top: 6px;
      left: 6px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #23C967;
  }

.radio{
    display: flex;
    margin-top: 15px;
}

.radio-subscribe{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.radio-subscribe-text-1{
    margin: 0px;
    font-family: GilroyBold;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}

.radio-subscribe-text-2{
    margin: 0px;
    font-family: GilroyLight;
    font-size: 13px;
    color: #A7A2CB;
}

.layout-2-button{
    background: #23C967;
    border-radius: 15px;  
    width: 100%;
    font-family: GilroyBold;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
    margin-top: 20px;
    height: 45px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.layout-2-button:hover{
  box-shadow: #0af76d 0px 1px 1px 2px;
}